# Pandas Exercises

## Importing pandas

In [ ]:
import pandas as pd
import numpy as np

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

**1.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = # (complete this line of code)

**2.** Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

**3.** Return the first 3 rows of the DataFrame `df`.

**4.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

**5.** Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.

**6.** Select only the rows where the number of visits is greater than 2.

**7.** Select the rows where the age is missing, i.e. it is `NaN`.

**8.** Select the rows where the animal is a cat *and* the age is less than 3.

**9.** Select the rows the age is between 2 and 4 (inclusive).

**10.** Change the age in row 'f' to 1.5.

**11.** Calculate the sum of all visits in `df` (i.e. find the total number of visits).

**12.** Calculate the mean age for each different animal in `df`.

**13.** Append a new row 'k' to `df` with your choice of values for each column and print the resulting dataframe. Then delete that row to return the original DataFrame.

**14.** Count the number of each type of animal in `df`.

**15.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order (so row `i` should be first, and row `d` should be last).

**16.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

**17.** In the 'animal' column, change the 'snake' entries to 'python'.

**18.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (*hint: use a pivot table*).

**19.** Visualize this dataframe (in the visualization library of your choice) displaying data about each animal in a different colour.

**20.** A DataFrame has a column of groups 'grps' and and column of integer values 'vals': 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values. You should end up with the answer as follows:
```
grps
a    409
b    156
c    345
```

In [ ]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

# write a solution to the question here

## Series and DatetimeIndex

### Exercises for creating and manipulating Series with datetime data

**21.** Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers. Let's call this Series `s`.

**22.** Find the sum of the values in `s` for every Thursday.

**23.** For each calendar month in `s`, find the mean of values.

**24.** For each group of three consecutive calendar months in `s`, find the date on which the highest value occurred.